# === Python & Sistema ===
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# === Seguridad y Secretos (CRÍTICO) ===
# No subir nunca las credenciales ni la configuración local
credentials.json
.env

# === Entornos Virtuales ===
venv/
env/
.venv/

# === Datos Temporales y Resultados ===
# Ignoramos toda la raíz de descargas (PDF, XML, CSV)
temp_downloads/


# Ignoramos los logs locales
logs/*.txt

# Ignoramos los archivos de rutas locales (si se generan)
rutas.txt

# === IDEs y Editores ===
.vscode/
.idea/